.card {
  background: #FFFFFF;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  width: 24.5rem;

  &__image {
    border-radius: 1rem;
    overflow: hidden;
    width: 24.5rem;
    height: 19.8rem;
    background-color: #1D1C21;

    img {
      width: 24.5rem;
      height: 19.8rem;
      object-fit: contain;
    }
  }

  &__body {
    padding: 1.6rem 3rem 2.5rem;
    height: 100%;
  }

  &__info {
    //height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  &__btn {
    display: block;
    font-weight: 700;
    color: #FFFFFF;
    padding: 1.4rem 3.5rem;
    background: #1D1C21;
    transition: all 0.3s ease-in;
    border: 0.1rem solid #FFFFFF;
    margin: 1.6rem auto 0;
    text-align: center;

    &:hover {
      cursor: pointer;
      background: #FFFFFF;
      color: #1D1C21;
      border: 0.1rem solid #1D1C21;
    }
  }

  &__title {
    font-weight: 700;
    height: 4rem;
    text-align: center;
  }

  &__description {
    height: 4.2rem;
    overflow: hidden;
    text-align: center;
  }

  &__price {
    font-weight: 500;
    text-align: center;
  }
}