.title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #000000;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 3.5rem;
  background: #1D1C21;
  border: 0.1rem solid #FFFFFF;
  color: #FFFFFF;
  transition: all 0.3s ease-in;

  &:hover {
    cursor: pointer;
    border: 0.1rem solid #1D1C21;
    background: #FFFFFF;
    color: #1D1C21;
  }

  &__text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: center;
  }
}